<ion-header>
  <ion-toolbar>
    <ion-title>DETALHE DO ARTIGO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
        <ion-card-header>
          <ion-card-subtitle>{{artigo.data}}</ion-card-subtitle>
          <ion-card-title>{{artigo.titulo}}</ion-card-title>
        </ion-card-header>
        <img src={{artigo.imgUrl}}>
        <ion-card-content>
          <span [innerHTML]="artigo.texto"></span>
        </ion-card-content>
        <p>{{artigo.autor}}</p>
      </ion-card>
  

</ion-content>
